# Database Configuration
DB_HOST=mariadb
DB_PORT=3306
DB_ROOT_PASSWORD=123
DB_NAME=hrms
DB_USER=root

# Redis Configuration
REDIS_CACHE_HOST=redis
REDIS_CACHE_PORT=6379
REDIS_QUEUE_HOST=redis
REDIS_QUEUE_PORT=6379
REDIS_SOCKETIO_HOST=redis
REDIS_SOCKETIO_PORT=6379

# Site Configuration
SITE_NAME=hrms.localhost
ADMIN_PASSWORD=admin
DEVELOPER_MODE=1

# Application Configuration
APP_PORT=8000
